@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #f600dec5;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 50px;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 30px;
  padding-bottom: 20px;
}

.display-1 {
  font-size: 72px;
  font-weight: 200;
}

.bold {
  font-weight: 200;
}

.large {
  font-size: 1.25rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 50px;
}

.btn-green {
  background: #f600dec5;
  color: #fff;
}

.btn-gray {
  background: #626262;
  color: #fff;
  border: none;
}

form label {
  display: inline-block;
  margin-bottom: 8px;
}

form .form-group {
  margin-bottom: 16px;
}

form .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  background: #f600dec5;
  border: none;
  border-radius: 4px;
}

/* Header */
#mainheader {
  background: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50% 100%;
  height: 100vh;
}

/* Navbar */
#navbar {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: #ffffff;
}

#navbar .logo {
  text-transform: uppercase;
  float: left;
  padding-top: 16px;
  font-size: 25px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

/* Showcase */
#showcase {
    float: right;
    width: 50%;

}

#showcase h6 {

  font-weight: 500;
  padding-bottom: 20px;
}

#showcase p {

  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 0;
}

/*Features */

#features {
    padding: 100px 100px;
}

.features-row .card-left {
    display: flex;
    flex-direction: row;

}

.features-row .card-right {
    display: flex;
    flex-direction: row-reverse;
}

.features-row img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Contact */
#contact {
  background: #fef9fb;
  padding: 80px 0;
}

#contact form {
  width: 40%;
  margin: 0 auto;
}

#contact button {
  width: 100%;
}

/* Footer */
#mainfooter {
  background: #fef9fb;
  text-align: center;
  padding: 30px;
}
